*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(37, 34, 34);
    font-family: sans-serif;
    font-weight: bold;
}
a{
    position: relative;
    display: inline-block;
    padding: 25px 10px;
    margin: 40px 0;
    color: rgb(107, 64, 224);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;
    margin-right: 50px;
}
a:hover{
    background-color: rgb(55, 255, 55);
    color: rgb(15, 73, 0);
    box-shadow: 0 0 5px rgb(255, 251, 0), 0 0 5px rgb(0, 255, 170);
    -webkit-box-reflect: below 1px linear-gradient(tranparent);
}
a:nth-child(1){
    filter: hue-rotate(270deg);
}
a:nth-child(2){
    filter: hue-rotate(110deg);
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, tranparent, rgb(255, 0, 0));
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left:-100%;
    } 
    50%,
    100% {
        left:100%;
    }
}
a span:nth-child(2){
    top: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(100deg, tranparent, rgb(255, 136, 0));
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top:-100%;
    } 
    50%,
    100% {
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, tranparent, rgb(253, 165, 180));
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right:-100%;
    } 
    50%,
    100% {
        right:100%;
    }
}
a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, tranparent, rgb(15, 98, 250));
    animation: animate4 1s linear infinite;
    animation-delay: o.75s;
}
@keyframes animate4{
    0%{
       bottom:-100%;
    } 
    50%,
    100% {
        bottom: 100%;
    }
}